In [1]:
import pandas as pd

In [2]:
data = pd.read_excel(r'/content/drive/MyDrive/data/Python/height.xlsx', header=None, names=['height', 'gender'])

In [3]:
data

   height gender
0     170      M
1     175      M
2     182      M
3     168      F
4     162      F
5     158      F

In [4]:
df1 = pd.DataFrame(data)

In [5]:
df1.head()

   height gender
0     170      M
1     175      M
2     182      M
3     168      F
4     162      F

In [6]:
print(df1)

   height gender
0     170      M
1     175      M
2     182      M
3     168      F
4     162      F
5     158      F

In [7]:
data = pd.read_excel('http://jupiter.hallym.ac.kr/ftpdata/data/bmi.xlsx', index_col=2)

In [10]:
df2 = pd.DataFrame(data)

In [11]:
print(df2)

        키  몸무게  종교 성별 결혼여부
출생년도
1974  167   68  No  F    N
1974  162   49  C2  F    N
1978  158   50  C2  F    N
1977  165   56  No  F    N
1959  160   52  No  F    N
...   ...  ...  .. ..  ...
1982  164   50  No  F    N
1979  163   52  No  F    Y
1979  160   56  C2  F    N
1974  160   49  No  F    N
1980  166   54  No  F    N

[177 rows x 5 columns]

In [12]:
cars = {'make': ['Hyudai','Kia', 'Ford', 'Chevrolet'],
        'model': ['Sonata','K5', 'Taurus', 'Impala'],
        'price' : [3200,3100,3500,3700]}

In [13]:
df3 = pd.DataFrame(cars)

In [14]:
print(df3)

        make   model  price
0     Hyudai  Sonata   3200
1        Kia      K5   3100
2       Ford  Taurus   3500
3  Chevrolet  Impala   3700

In [18]:
export_excel = df3.to_excel(r'C:\Python\cars.xlsx', index=None, header=True)

In [19]:
export_excel = df3.to_excel('/content/drive/MyDrive/data/Python/cars.xlsx', index=None, header=True)